.paginationWrapper {
  display: flex;
  justify-content: center;
  padding: 0 24px;
  margin: 40px 0 68px;
}

.pagination {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paginationFirstButton,
.paginationLastButton,
.paginationButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.paginationFirstButton,
.paginationLastButton {
  width: 33px;
  text-align: center;
}

.paginationFirstButton {
  margin: 0 25px 0 20px;
}

.paginationLastButton {
  margin: 0 20px 0 25px;
}

.paginationDisable {
  color: var(--dark-gray);
  cursor: default;
}

.paginationActivePage {
  color: var(--primary);
  cursor: default;
}
