.loginWrapper {
  height: 100vh;
}

@media (min-width: 1028px) {
  .loginWrapper {
    display: flex;
  }
}

.login {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
}

@media (min-width: 1028px) {
  .login {
    width: calc(100% - 600px);
    display: flex;
    justify-content: center;
  }
}

.loginBackground {
  display: none;
}

@media (min-width: 1028px) {
  .loginBackground {
    display: block;
    width: 600px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.loginLogo {
  position: absolute;
  top: 40px;
  left: 24px;
}

@media (min-width: 1028px) {
  .loginLogo {
    max-width: 500px;
    left: 48px;
    right: 0;
    margin: 0 auto;
  }
}

.loginFormWrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1028px) {
  .loginFormWrapper {
    max-width: 500px;
  }
}

.loginHeader {
  font-size: 30px;
  line-height: 40px;
  color: var(--black);
  margin: 0;
}

.loginElement {
  margin-top: 20px;
}

.loginElement:first-of-type {
  margin-top: 30px;
}

.loginFormElement,
.loginFormButton {
  width: 100%;
}

.loginFormButton {
  margin-top: 55px;
}

.loginForgotPassword {
  display: inline-block;
  font-size: 14px;
  margin-top: 15px;
  color: var(--dark-gray);
}
