.product {
  background-color: white;
  border-radius: 8px;
  padding: 0 0 24px;
}

.productPhoto {
  position: relative;
  width: 100%;
  height: 170px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px 8px 0 0;
}

.productPromo {
  position: absolute;
  width: 75px;
  top: 16px;
  padding: 4px 0;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--yellow);
  color: white;
  text-align: center;
}

.productContent {
  margin: 16px 0 0;
  padding: 0 16px;
}

.productName {
  margin: 0;
  font-size: 18px;
  line-height: 16px;
  color: var(--black);
}

.productDescription {
  margin: 8px 0 32px;
  height: 64px;
  font-size: 14px;
  line-height: 16px;
  color: var(--dark-gray);
}

.productRating {
  margin-bottom: 18px;
}

.productButton {
  width: 100%;
}
