.customCheckboxLabel {
  padding-left: 32px;
  margin-right: 32px;
  position: relative;
  vertical-align: middle;
}

.customCheckbox {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
}

.customCheckboxInput:checked ~ .customCheckbox {
  border-color: var(--primary);
  background-color: var(--primary);
}

.customCheckboxInput:checked ~ .customCheckbox:after {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.customCheckboxInput {
  display: none;
}
